# 默认忽略的文件
/shelf/
/workspace.xml
data/cifar10/cifar-10-batches-py/cifar-10-batches-py/*
save/cifar10/cifar10_train/checkpoints/*
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
